.first{
    background-color: black;
    height: 50px;

}
.login a {
    float: right;
    height: 40px;
}
.register a {
    float: left;
    height: auto;
}
.header{
    height: auto;
}
.headimg{
    float: left;
    width: 62px;
    height: 55px;
    margin-top: 22px;
    border: 1px solid black;
}